data/*
!hoist_former/Mask2Former/mask2former/data
!data/.gitkeep
src/__pycache__/*
*.egg-info/*
.DS_Store
*.tar
*.pth
*/Miniconda3-latest-Linux-x86_64.sh
output/*
plots/*
wandb/*
images/*
*.pyc
*.egg
*.png
*.jpg
*.MOV
*.mp4
*.zip
*.jpeg
*.JPG
*.pt
*.pth
*.csv
*.pdf
*.tiff
*.npy
!gpt_generate_data/images/*

riskfield_output/*
checkpoints_riskfield/*
